@import '~@myndmanagement/styles/styles/variables'
@import 'styles/variables'

.form
  .forgot-hint
    font: 600 1rem/1.2rem $font-family-inter
    color: $color-mynd-purple
    padding: .8rem 0 0 0

  m-v2-form-field.input-wrapper:not(:last-of-type)
    margin-bottom: 2.4rem

  ::ng-deep
    .subscript-wrapper.subscript-wrapper
      padding: 0
      min-height: 1.2rem

    .wrapper.wrapper .suffix.suffix .icon.icon-eye-md
      color: $color-mynd-purple
