form.form(
  [formGroup]="updatePasswordService.passwordForm",
  (ngSubmit)="updatePasswordService.savePassword()"
)
  m-v2-form-field
    m-v2-form-label.field-label Current password
    input(mV2Input, type="password", placeholder="Your password", formControlName="oldPassword")
    m-v2-suffix
      m-v2-password-toggle-button
    // TODO: add password recovery
    //m-v2-form-hint.forgot-hint Forgot password?

  m-v2-form-field
    m-v2-form-label New password
    input(mV2Input, type="password", placeholder="At least 8 characters", formControlName="newPassword")
    m-v2-suffix
      m-v2-password-toggle-button

  m-v2-form-field
    m-v2-form-label Confirm new password
    input(mV2Input, type="password", placeholder="At least 8 characters", formControlName="confirmPassword")
    m-v2-suffix
      m-v2-password-toggle-button

  m-v2-form-error.form-error(*ngIf="updatePasswordService.notMatchGuidelines; else noMatchError")
    | {{ updatePasswordService.passwordGuidelines }}

  ng-template(#noMatchError)
    m-v2-form-error.form-error(*ngIf="updatePasswordService.passwordForm.errors?.confirmPasswordMatch")
      | Could not save, new passwords do not match

.actions.column(*mLet="updatePasswordService.isChangingPassword$ | async as updating")
  m-button.save(
    [small]="true",
    [fullWidth]="true",
    [loading]="updating",
    (click)="updatePasswordService.savePassword()"
  ) Save
  m-button.cancel(
    [small]="true",
    [fullWidth]="true",
    [isDisabled]="updating",
    routerLink="../"
  ) Cancel
