@import '~@myndmanagement/styles/styles/variables'
@import 'styles/variables'
@import 'styles/blocks'

.content-container
  {$card}
  padding: 17px 23px
  width: 100%
  min-height: 170px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.loader
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

.empty-message
  font-size: 16px

.line-item-header, o-editable-line-item:not(:last-of-type)
  margin-bottom: 21px

.actions
  m-button
    margin-left: 16px

.entity-line-item
  width: 100%

  &:not(:last-of-type)
    &:after
      content: ''
      display: block
      width: 100%
      margin-top: 25px
      margin-bottom: 30px
      height: 1px
      background-color: $color-mynd-navy-10

  o-editable-line-item
    ::ng-deep
      .label
        margin-top: 0

      .control-container
        &:not(.editing)
          align-items: flex-start

        &.editing
          .form-container
            margin-top: -9px
            margin-left: -12px

.line-item-header
  display: flex
  justify-content: space-between

  .text-container
    display: flex
    align-items: center
    font-family: $font-open-sans

    .title
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $color-mynd-navy

    .description
      font-size: 14px
      line-height: 19px
      color: $color-mynd-navy-50

.properties, .property-link
  font-family: $font-open-sans
  font-weight: 600
  font-size: 14px
  line-height: 19px
  color: $color-mynd-blue-dark
