@import '~@myndmanagement/styles/styles/variables'
@import 'styles/variables'
@import 'styles/blocks'

.content-container
  {$card}
  padding: 17px 23px
  width: 100%

o-editable-line-item
  &:not(:last-of-type)
    margin-bottom: 21px

.password-mask-circle
  width: 6px
  height: 6px
  margin-right: 6px
  border-radius: 50%
  background: $color-mynd-navy-75

o-editable-line-item
  ::ng-deep
    form
      m-v2-form-field
        .wrapper .suffix .icon.icon
          font-size: 14px
          color: $color-mynd-neutral

form
  display: flex
  align-content: center

  o-editable-line-item:not(:last-of-type)
    margin-right: 16px
