@import 'styles/text'

.card-row-text
  > *:not(:last-child)
    margin-right: .8rem

  .value
    text-truncate()

  &.email, &.phone
    font-size: 1.2rem
    line-height: 1.6rem

  .nav-icon
    line-height: 1rem
